* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;

}

img {
    max-width: 100%;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
}

/* начало индекса */

.hero {
    background-image: url(../img/start-screen-gradient-background.png);
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    padding-bottom: 90px;
}

.logo__title {
    color: rgb(241, 205, 179);
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 6%;
    text-align: left;
}

.logo__subtitle {
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 10%;
    text-align: left;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    column-gap: 35px;

}

.nav__link {
    color: rgb(250, 250, 250);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0px;
    text-align: left;
}

.nav__link:hover {
    text-decoration: underline;
    text-decoration-color: rgb(241, 205, 179);
}

.hero__content {
    display: flex;
    justify-content: space-between;
}

.hero__container {
    display: flex;
    justify-content: space-between;
}

.hero__desc {
    padding-right: 42px;
    width: 50%;
}

.hero__title {
    padding-top: 146px;
    padding-bottom: 42px;
    color: rgb(255, 255, 255);
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;

}

.hero__subtitle {
    color: rgb(205, 205, 205);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 42px;
}

.hero__btn {
    background: rgb(241, 205, 179);
    border-radius: 100px;
    padding: 15px 45px;
    color: rgb(41, 41, 41);
}

.description-house__container {
    padding: 100px 40px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    column-gap: 120px;
}

.description-house__img-wrap {
    width: 50%;
}


.description-house__title {
    color: rgb(84, 84, 84);
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
}

.description-house__text {
    color: rgb(76, 76, 76);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
}

.frends {
    text-align: center;
    background: rgb(246, 246, 246);
    padding-bottom: 100px;
    padding-top: 80px;

}

.frends__title {
    color: rgb(84, 84, 84);
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 60px;
}

.btn-arrow-wrap {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: 2px solid rgb(241, 205, 179);
}

.btn-arrow-wrap:hover {
    background-color: rgb(241, 205, 179);
}

.frends__slider {
    font-family: Georgia;
    display: flex;
    margin-bottom: 60px;
    align-items: center;
}

.slider__card {
    max-width: 270px;
    background-color: rgb(250, 250, 250);
    transition: all 1s;
    width: 270px;
}

.slider__card:hover {
    box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.card__katrine {
    margin-right: 90px;
    margin-left: 53px;
}

.card__jennifer {
    margin-right: 90px;
}

.card__woody {
    margin-right: 53px;
}

.card__img-wrap {
    margin-bottom: 30px;
}

.card__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    padding-bottom: 30px;
}

.card__btn {
    padding-bottom: 30px;
}

.card__link {
    color: rgb(41, 41, 41);
    font-size: 17px;
    padding: 15px 45px;
    border: 2px solid rgb(241, 205, 179);
    border-radius: 100px;
}

.card__link:hover {
    background-color: rgb(241, 205, 179);
}

.frends__link {
    background: rgb(241, 205, 179);
    border-radius: 100px;
    padding: 15px 45px;
    font-size: 17px;
    color: rgb(41, 41, 41);
}

.help {
    text-align: center;
    margin-top: 80px;
    color: rgb(84, 84, 84);
}

.help__title {
    margin-bottom: 60px;
    font-size: 35px;
}

.help__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    column-gap: 120px;
}

.list__item {
  margin-bottom: 55px;
}

.list__img-wrap {
    margin-bottom: 30px;
}

.list__title {
    font-size: 20px;
}



.donation {
    background: rgb(246, 246, 246);
    padding-top: 80px;
    padding-bottom: 100px;
}

.donation__container {
    display: flex;
    justify-content: center;
    color: rgb(84, 84, 84);
}

.donatian__img-wrap {
    flex: 1 0 54%;
    text-align: right;
}

.donation__desc {
    margin-left: 30px;
    width: 380px;
}

.donation__title {
    font-size: 35px;
    margin-bottom: 20px;
}

.donation__subtitle {
    font-size: 15px;
}

.donation__card {
    background: rgb(241, 205, 179);
    padding: 10px 15px;
    border-radius: 9px;
    max-width: 349px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.donation__link {
    margin-left: 15px;
    font-size: 20px;
    top: 10px;
    color: rgb(84, 84, 84);
}

.donation__text {
    color: rgb(178, 178, 178);
    font-size: 12px;
}

footer {
    background-image: url(../img/start-screen-gradient-background.png);
    background-size: cover;
    font-family: Georgia;
    text-align: left;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.footer__title {
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: 400;
}

.adress__title {
    margin-bottom: 34px;
}

.footer__link {
    color: rgb(241, 205, 179);
    font-size: 20px;
    margin-left: 20px;
}

.information__email {
    margin-bottom: 46px;
}

.information__adress {
    margin-bottom: 32px;
}

@media (max-width: 1000px) { 
    .card__woody{
        visibility: hidden;
        display: none;
    }

}

@media (max-width:900px){

    .nav__list{
        align-items: end;
    }
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .header{
        padding-bottom: 0px;
    }

    .hero__container{
        margin: 0 auto;
        display: block;
    }
    .hero__desc{
       width: 100%;
        margin-bottom: 100px;
        text-align: left;
        font-weight: 400;
        font-family: Georgia;
    }
    .hero__title{
        color: rgb(255, 255, 255);
        font-size: 44px;
        margin-top: 60px;
        padding-top: 0px;
    }
    .hero__subtitle{
        color: rgb(205, 205, 205);
        font-family: Arial;
        font-size: 15px;
         line-height: 160%;
    }

    .description-house__container{
        display: grid;
        max-width: 900px;
        margin: 0 auto;
    }
    
    .description-house__img{
       order: 1;
    }
    .donation__container{
        display: grid;
    }
    .donation__img-wrap{
        order: 1;
    }


}
@media (max-width: 768px){
    .card__jennifer{
    visibility: hidden;
    display: none;
    }   
}

@media (max-width: 768px){ 
    .footer__container {
        display: block;
        align-content: center;
    }
    .footer__contacts{
        margin-bottom: 40px;
    }
    
 }
/* конец  индекса */
/* начало сайта со всеми питомцами */

.logo__titles {
    font-family: Georgia;
    font-size: 32px;
    color: rgb(84, 84, 84);
    margin-bottom: 10px;
}

.logo__subtitles {
    color: rgb(41, 41, 41);
    font-family: Arial;
    font-size: 13px;
}

.header__links {
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
}

.item__link {
    color: rgb(84, 84, 84);
    font-family: Arial;
    font-size: 15px;
}

.links__item:hover {
    text-decoration: underline;
    text-decoration-color: rgb(241, 205, 179);
}


.our-pets {
    text-align: center;
    padding-bottom: 0px;
}

.our-pets__title {
    color: rgb(84, 84, 84);
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 60px;
}

.slider__list {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    padding-bottom: 15px;
    flex-wrap: wrap;
}

.slider__card {
    margin-bottom: 30px;
}

.pets__slider {
    margin-bottom: 100px;
}

.pets-slider__navigation{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 45px;
}

.btn-1-wrap {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: 2px solid rgb(241, 205, 179);
}

.btn-1-wrap:hover {
    background-color: rgb(241, 205, 179);
}

.no-active-arrow{
    border: 2px solid rgb(205, 205, 205);
}

.no-active-arrow:hover{
    background-color: #fff;
}

