* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;

}

img {
    max-width: 100%;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
}

.hero {
    background-image: url(../img/start-screen-gradient-background.png);
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    padding-bottom: 90px;
}

.logo__title {
    color: rgb(241, 205, 179);
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 6%;
    text-align: left;
}

.logo__subtitle {
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 10%;
    text-align: left;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    column-gap: 35px;

}

.nav__link {
    color: rgb(250, 250, 250);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0px;
    text-align: left;
}

.nav__link:hover {
    text-decoration: underline;
    text-decoration-color: rgb(241, 205, 179);
}

.hero__content {
    display: flex;
    justify-content: space-between;
}

.hero__container {
    display: flex;
    justify-content: space-between;
}

.hero__desc {
    padding-right: 42px;
    width: 50%;
}

.hero__title {
    padding-top: 146px;
    padding-bottom: 42px;
    color: rgb(255, 255, 255);
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;

}

.hero__subtitle {
    color: rgb(205, 205, 205);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 42px;
}

.hero__btn {
    background: rgb(241, 205, 179);
    border-radius: 100px;
    padding: 15px 45px;
    color: rgb(41, 41, 41);
}

.hero__img-wrap {
    width: 50%;
}

.description-house__container {
    padding: 100px 40px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between
}

.description-house__img-wrap {
    width: 50%;
}


.description-house__title {
    color: rgb(84, 84, 84);
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 6%;
    text-align: left;
}

.description-house__text {
    color: rgb(76, 76, 76);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0px;
    text-align: left;
}

.frends {
    text-align: center;
    background: rgb(246, 246, 246);
    padding-bottom: 100px;
    
}

.frends__title {
    color: rgb(84, 84, 84);
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    padding-top: 80px;
    margin-bottom:60px;
}

.arrow {
    border-radius: 100px;
    padding: 23px 23px;
    border: 2px solid rgb(241, 205, 179);
}

.arrow:hover {
    background-color: rgb(241, 205, 179);
}

.frends__slider{
    font-family: Georgia;
    display: flex;
    margin-bottom: 60px;
    align-items: center;
}

.slider__card{
    max-width: 270px;
    background-color:rgb(250, 250, 250);
}

.card__katrine{
   margin-right: 90px;
   margin-left: 53px;
}

.card__jennifer{
   margin-right: 90px;
}

.card__woody{
    margin-right: 53px;
}

.card__img-wrap{
    margin-bottom: 30px;
}

.card__title{
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    padding-bottom: 30px;
}

.card__btn{
    padding-bottom: 30px;
}

.card__link{
    color: rgb(41, 41, 41);
    font-size: 17px;
    padding: 15px 45px;
    border: 2px solid rgb(241, 205, 179);
    border-radius: 100px;
}

.card__link:hover{
    background-color: rgb(241, 205, 179);
}

.frends__link{
    background: rgb(241, 205, 179);
    border-radius: 100px;
    padding: 15px 45px;
    font-size: 17px;
    color: rgb(41, 41, 41);
}

.help{
    text-align: center;
    margin-top: 80px;
    color: rgb(84, 84, 84);
}

.help__title{
    margin-bottom: 60px;
    font-size: 35px;
}

.section-one{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

.list__img-wrap{
    margin-bottom: 30px;
}

.list__title{
    font-size: 20px;
}

.section-two{
    display: flex;
    justify-content: space-evenly;
    column-gap: 120px;
}